---
export interface Props {
  id?: string;
  href: string;
  class?: string;
  ariaLabel?: string;
  title?: string;
  target?: "_blank" | "_self" | "_parent" | "_top";
  disabled?: boolean;
}

const {
  id,
  href,
  class: className = "",
  ariaLabel,
  title,
  target = "_self",
  disabled = false,
} = Astro.props;
---

{
  disabled ? (
    <span
      id={id}
      class:list={["group inline-block", className]}
      title={title}
      aria-disabled={disabled}
    >
      <slot />
    </span>
  ) : (
    <a
      id={id}
      {href}
      class:list={["group inline-block hover:text-accent", className]}
      aria-label={ariaLabel}
      title={title}
      target={target}
      rel={target === "_blank" ? "noopener noreferrer" : undefined}
    >
      <slot />
    </a>
  )
}
